.containerMain{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    width: 100%;
    .label{
        font-size: 18px;
        font-weight: 600;
        color: #ebe7e717;
    }
    .content{
        gap: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        box-shadow: 0 1px 2px #0003;
        background-color: white;
        max-width: 350px;
        padding: 20px;
        border-radius: 5px;
        padding: 2rem;

        .labelSingUp{
            font-size: 16px;
            color: #676767;
        }
        .strongLabel{
            cursor: pointer;

            a {
                text-decoration: none;
                // color: #676767;
             }
        }
    }
}

.containerPhoto{
    padding: 0.3rem;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;

    video{
        width: 500px;
        height: 500px;
    }
}
.containerImages{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 37vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    .img{
        width: 207px;
        height: 180px;
        padding: 0.3rem;
        border-radius: 0.25rem;
        img{
         width: 186px;
         height: 177px;
        }
    }
}
.containerContent{
    width: 100%;
    height: 99vh;
}

.containerTitle{
    width: 100%;
    text-align: center;
    padding: 0.4rem;
}